<div class="d-flex justify-content-center">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-center w-100">
          <li class="nav-item">
            <a class="nav-link text-center active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="#">Portraits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="#">Abstractions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="#">Landscapes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


